.card {
  border: 2px solid gray;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(240, 240, 240);
  width: 25rem;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}


.bar{
  background-color: gainsboro;
  border-radius: 7rem;
  text-align: center;
}

.bar-percent{
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 0 auto;
  width: 100%;
}

.card-tag{
  text-align: center  ;
  margin-top: 1rem;
}